*.slo
*.lo
*.o
*.so
*.lai
*.db
*.db
*.exe
*.depend
*.layout
*.cbTemp
windows/bin
windows/obj
bin
obj
.depends
sprouts
tests/tests
stdout.txt
stderr.txt
.cproject
.project
.DS_Store
sprouts-debug
sprouts-graphics-test

